.li-bgc-1 {
    background: #2193b0;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #6dd5ed, #2193b0);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #6dd5ed, #2193b0);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.li-bgc-2 {
    background: #0F2027;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.li-bgc-3 {
    background: #1f4037;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #99f2c8, #1f4037);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #99f2c8, #1f4037);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.li-bgc-4 {
    background: #f46b45;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #eea849, #f46b45);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #eea849, #f46b45);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.li-bgc-5 {
    background: #0f0c29;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}

.li-bgc-6 {
    background: #6441A5;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2a0845, #6441A5);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2a0845, #6441A5);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.li-bgc-7 {
    background: #7b4397;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #dc2430, #7b4397);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #dc2430, #7b4397);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.li-bgc-8 {
    background: #5433FF;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #A5FECB, #20BDFF, #5433FF);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #A5FECB, #20BDFF, #5433FF);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}

.li-bgc-9 {
    background: #ffe259;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ffa751, #ffe259);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ffa751, #ffe259);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.li-bgc-10 {
    background: #8e9eab;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #eef2f3, #8e9eab);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #eef2f3, #8e9eab);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.li-bgc-11 {
    background: #136a8a;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #267871, #136a8a);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #267871, #136a8a);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.li-bgc-12 {
    background: #00bf8f;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #001510, #00bf8f);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #001510, #00bf8f);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.li-bgc-13 {
    background: #ff0084;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #33001b, #ff0084);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #33001b, #ff0084);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.li-bgc-14 {
    background: #833ab4;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.li-bgc-15 {
    background: #FEAC5E;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4BC0C8, #C779D0, #FEAC5E);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4BC0C8, #C779D0, #FEAC5E);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.li-bgc-16 {
    background: #6441A5;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2a0845, #6441A5);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2a0845, #6441A5);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.li-bgc-17 {
    background: #ffb347;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ffcc33, #ffb347);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ffcc33, #ffb347);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.li-bgc-18 {
    background: #43cea2;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #185a9d, #43cea2);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #185a9d, #43cea2);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.li-bgc-19 {
    background: #00d2ff;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3a7bd5, #00d2ff);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3a7bd5, #00d2ff);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.li-bgc-20 {
    background: #D3959B;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #BFE6BA, #D3959B);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #BFE6BA, #D3959B);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.li-bgc-21 {
    background: #DAD299;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #B0DAB9, #DAD299);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #B0DAB9, #DAD299);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.li-bgc-22 {
    background: #f2709c;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ff9472, #f2709c);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ff9472, #f2709c);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.li-bgc-23 {
    background: #E6DADA;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #274046, #E6DADA);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #274046, #E6DADA);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.li-bgc-24 {
    background: #ddd6f3;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #faaca8, #ddd6f3);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #faaca8, #ddd6f3);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.li-bgc-25 {
    background: #616161;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #9bc5c3, #616161);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #9bc5c3, #616161);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.li-bgc-26 {
    background: #50C9C3;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #96DEDA, #50C9C3);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #96DEDA, #50C9C3);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.li-bgc-27 {
    background: #215f00;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #e4e4d9, #215f00);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #e4e4d9, #215f00);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.li-bgc-28 {
    background: #c21500;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ffc500, #c21500);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ffc500, #c21500);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.li-bgc-29 {
    background: #EFEFBB;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #D4D3DD, #EFEFBB);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #D4D3DD, #EFEFBB);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.li-bgc-30 {
    background: #666600;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #999966, #666600);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #999966, #666600);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.li-bgc-31 {
    background: #DE6262;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFB88C, #DE6262);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFB88C, #DE6262);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.li-bgc-32 {
    background: #a73737;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #7a2828, #a73737);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #7a2828, #a73737);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.li-bgc-33 {
    background: #f857a6;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ff5858, #f857a6);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ff5858, #f857a6);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.li-bgc-34 {
    background: #4b6cb7;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #182848, #4b6cb7);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #182848, #4b6cb7);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.li-bgc-35 {
    background: #414d0b;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #727a17, #414d0b);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #727a17, #414d0b);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.li-bgc-36 {
    background: #e43a15;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #e65245, #e43a15);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #e65245, #e43a15);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.li-bgc-37 {
    background: #C04848;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #480048, #C04848);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #480048, #C04848);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.li-bgc-38 {
    background: #5f2c82;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #49a09d, #5f2c82);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #49a09d, #5f2c82);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.li-bgc-39 {
    background: #EC6F66;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #F3A183, #EC6F66);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #F3A183, #EC6F66);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.li-bgc-40 {
    background: #7474BF;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #348AC7, #7474BF);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #348AC7, #7474BF);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.li-bgc-41 {
    background: #24C6DC;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #514A9D, #24C6DC);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #514A9D, #24C6DC);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.li-bgc-42 {
    background: #283048;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #859398, #283048);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #859398, #283048);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.li-bgc-43 {
    background: #1CD8D2;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #93EDC7, #1CD8D2);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #93EDC7, #1CD8D2);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.li-bgc-44 {
    background: #232526;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #414345, #232526);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #414345, #232526);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.li-bgc-45 {
    background: #5C258D;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4389A2, #5C258D);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4389A2, #5C258D);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.li-bgc-46 {
    background: #134E5E;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #71B280, #134E5E);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #71B280, #134E5E);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.li-bgc-47 {
    background: #085078;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #85D8CE, #085078);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #85D8CE, #085078);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.li-bgc-48 {
    background: #4776E6;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #8E54E9, #4776E6);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #8E54E9, #4776E6);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.li-bgc-49 {
    background: #614385;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #516395, #614385);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #516395, #614385);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.li-bgc-50 {
    background: #16222A;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3A6073, #16222A);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3A6073, #16222A);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}