<span class="footer-user" style="text-align: center;display: block;">
    <span>
        <a href="https://beian.miit.gov.cn/" target="_blank">浙ICP备2021035805号-1</a>
    </span>
    <span id="busuanzi_container_site_pv">
        本站访问量：<span id="busuanzi_value_site_pv"></span>次
    </span>
    &nbsp;
    <span id="busuanzi_container_site_uv" >
        您是本站第 <span id="busuanzi_value_site_uv"></span> 位访问者
    </span>
</span>

<style>
    .footer-user {
        font-size: 12px;
        color: var(--secondary);
        max-width: calc(var(--main-width) + var(--gap) * 2);
        margin: auto;
        padding-bottom: 20px;
        text-align: center;
        line-height: 24px;
    }
</style>